@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  cursor: default;
  color: var(--foreground);
  background: var(--background);
  /* font-family: Roboto; */
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  -ms-overflow-style: none; /* for Internet Explorer */
  scrollbar-width: none; /* for Firefox */
}

.scroll {
  overflow: auto;
  -ms-overflow-style: none; /* for Internet Explorer */
  scrollbar-width: none; /* for Firefox */
}

@keyframes dots {
  0% { content: "."; }
  33% { content: ".."; }
  66% { content: "..."; }
}

.typing::after {
  content: ".";
  animation: dots 1.5s steps(1, end) infinite;
}

.no-hover:hover {
  background-color: #B3261E !important;
  font-size: large;
}
.no-hoverfill:hover {
  background-color: #E8DEF8 !important;
  font-size: large;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
